.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
}

.nav-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-bar .generations {
    list-style: none;
    padding-right: 1rem;
}

.nav-bar .generations button {
    background-color: #6f38f6;
    border: none;
    color: white;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
}

.normal {
    background-color: #a6a877 ;
}
.grass {
    background-color: #77c850 ;
}
.fire {
    background-color: #ee7f30 ;
}
.water {
    background-color: #678fee ;
}
.electric {
    background-color: #f7cf2e ;
}
.ice {
    background-color: #98d5d7 ;
}
.ground {
    background-color: #dfbf69 ;
}
.flying {
    background-color: #a98ff0 ;
}
.poison {
    background-color: #a040a0 ;
}
.fighting {
    background-color: #bf3029 ;
}
.psychic {
    background-color: #f65687 ;
}
.dark {
    background-color: #725847 ;
}
.rock {
    background-color: #b8a137 ;
}
.bug {
    background-color: #a8b720 ;
}
.ghost {
    background-color: #6e5896 ;
}
.steel {
    background-color: #b9b7cf ;
}
.dragon {
    background-color: #6f38f6 ;
}
.fairy {
    background-color: #f0aec7 ;
}

.pokemon {
    margin: .5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .name {
    color: white;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: white;
    padding: .25rem .5rem;
    font-size: .625rem;
    text-align: center;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    padding-left: .5rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6f38f6;
    border: none;
    color: white;
    border-radius: 1rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
}